body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    color: #F3F4ED;
}

header {
    background: #424642;
    padding: 20px 0 20px;
}

.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;

}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #F3F4ED;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    transition: 400ms;
}

nav a:hover{
    color: #C06014;
    text-decoration: underline;
}

.produtos {
    padding: 5% 10%;
    background: #536162;
}

.produtos li {
    display: inline-block;
    background: white;
    text-align: center;
    vertical-align: top;
    padding: 30px 20px;
    margin: 1.5% 1.5%;
    width: 30%;
    height: auto;
    box-sizing: border-box;
    border: #202020 solid 3px;
    border-radius: 15px;
    box-shadow: 10px 10px #202020;
    transition: 500ms;
    /* o box-sizing faz com que o tamanho não ultrapasse de 30%. agora, os valores de margin e padding serão embutidos DENTRO desses 30%, e não mais ultrapassando ele */
}

.produtos li:hover{
    color: #C06014;
    border-color: #C06014;
    box-shadow: 5px 5px #C06014;
}

.produtos li:active {
    border-color: #088C19;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos h2 {
    font-size: 28px;
    font-family: 'Merriweather Sans', sans-serif;
    font-style: italic;
    font-weight: bolder;
    color: #202020;
}

.img-produtos {
    max-width: 80%;
}

.produto-descricao {
    font-size: 18px;
    color: #202020;
}

.produto-preco {
    font-size: 22px;
    font-family: 'Merriweather Sans', sans-serif;
    font-style: italic;
    font-weight: bolder;
    margin-top: 10px;
    color: #202020;
}

footer {
    text-align: center;
    background: url('bg.jpg');
    padding: 40px 0 40px;
}

.copyright {
    color: white;
    font-size: 12px;
    margin-top: 20px;
}

main{
    background: #FEFEFE;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 8vh 10% 8vh;
}

form label, form p, legend {
    display: block;
    font-size: 24px;
    margin: 0 0 20px;
}

.form-container {
    background: #536162;
    padding-bottom: 5%;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 15px 25px;
    width: 50%;
    border: none;
    border-radius: 10px;
}

.checkbox {
    margin-top: 20px;
    margin-bottom: 20px;
}

.enviar {
    width: 40%;
    padding: 14px 0 14px;
    background-color: #C06014;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.4s all;
    cursor: pointer;
}

.enviar:hover {
    background-color: white;
    color: #424642;
    box-shadow: 10px 10px #424642;
    transform: scale(1.05);
}

table {
    margin: 8vh 10%;
}

thead {
    background: #F3F4ED;
    color: black;
    font-weight: bold;
}

td, th {
    border: 1px solid black;
    background: #F3F4ED;
    color: black;
    padding: 8px 35px;
}

/* css da página inicial */
.banner {
    width: 100%;
}

.titulo-principal {
    font-family: 'Merriweather Sans', sans-serif;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    color: #F3F4ED;
}

.titulo-principal:first-letter{
    font-weight: bold;
}

.titulo-principal:first-letter{
    content: "[ ";
}

.titulo-principal:first-letter{
    content: " ]";
}

.apresentacao {
    background: #637172;
}
.principal {
    padding: 3em 0;
    width: 940px;
    margin: 0 auto;
}


.principal p {
    margin: 0 0 1em;
}


.principal strong {
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.utensilios {
    width: 150px;
    float: left;
    margin-right: 30px;
    border-radius: 15px;
}

.beneficios {
    padding: 3em 0;
    background: #424642;
}

.conteudo-beneficios{
    width: 640px;
    margin: 0 auto 10%;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5;
}

.itens:first-child{
    font-weight: bold;
}

.itens:before{
    content: " 🪒 "
}

.img-beneficios {
    margin-left: 5%;
    width: 50%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 5px 5px #F3F4ED;
    border-radius: 15px;

}

.img-beneficios:hover {
    width: 55%;
    opacity: 0.3;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#637172, #424642);
}

.mapa-conteudo {
width: 940px;
margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.video {
    width: 560px;
    margin: 2em auto;
}


@media screen and (max-width: 480px) { 
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
        width: auto;
    }
    
    nav {
        position:static;
    }

    .lista-beneficios, .img-beneficios {
        width: 100%;
    }

}